body {
    font-family: arial;
    margin: 0;
    padding: 0;
    background-color: #F5ECE0;
    color: #0E2148;
}

header {
    background-color: #483AA0;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

header p{
    margin: 0;
}

nav {
    background-color: #7965C1;
    padding: 10px;
    box-shadow: 0 0 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #52357B;
    padding: 5px;
    border-radius: 10px;
}

h2{
    text-align: center;
}

.biodata {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tabel {
    flex: 0 1 45%;
}

table{
    background-color: #7965C1;
    color: white;
    margin-bottom: 45px;
    padding: 10px;
    box-shadow: 0 0 5px black;
}

table img{
    width: 190px;
    height: auto;
}

footer {
    background-color: #483AA0;
    padding: 10px;
    box-shadow: 0 0 10px;
}

footer p {
    color: white;
    margin-left: 35px;
}

footer p a {
    text-decoration: none;
    color: white;
    text-align: center;
}

footer p a:hover {
    background-color: #52357B;
    padding: 5px;
    border-radius: 10px;
}