body {
    font-family: arial;
    margin: 0;
    padding: 0;
    background-color: #F5ECE0;
    color: #0E2148;
}

header {
    background-color: #483AA0;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

header {
    margin-bottom: -10px;
}

header p{
    margin: 0;
}

nav {
    background-color: #7965C1;
    padding: 10px;
    box-shadow: 0 0 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #52357B;
    padding: 5px;
    border-radius: 10px;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 0 5px #0E2148;
}

section p{
    margin: 10px;
}

section h3 {
    color: white;
    background-color: #898AC4;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 0px;
}

section ul {
    padding-left: 20px;
}

section ul li {
    margin-bottom: 15px;
}

section ul li h5 {
    margin: 0;
    color: #7965C1;
}

footer {
    background-color: #483AA0;
    padding: 10px;
    box-shadow: 0 0 10px;
}

footer p {
    color: white;
    margin-left: 35px;
}

footer p a {
    text-decoration: none;
    color: white;
    text-align: center;
}

footer p a:hover {
    background-color: #52357B;
    padding: 5px;
    border-radius: 10px;
}